<!DOCTYPE html>
<html>
<body style="background-color:black;">

  <ul class"nav">

    <li style="list-style-type: none;"><a href="/homepage">Homepage</a></li>
    <li style="list-style-type: none;"><a href="/my_list">My List</a></li>
    <li style="list-style-type: none;"><a href="/checkout">Buy items</a></li>

  </ul>

  <style>
    body {text-align:center}
  </style>

<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>

<form action="/homepage">
<input type="submit" value="Homepage" />
</form>
