<!DOCTYPE html>
<html>
<body style="background-color:black;">

  <ul class"nav">

    <li style="list-style-type: none;"><a href="/my_list">My List</a></li>
    <li style="list-style-type: none;"><a href="/checkout">Buy items</a></li>

  </ul>

  <style>
    body {text-align:center}
  </style>

  <div>
  <img src= 'https://i.chzbgr.com/full/9105474304/h252FE09E/'>
  <div>

  <form action="/">
  <input type="submit" value="Okay, that's enough of that. Back to shopping" />
  </form>

</html>
