<!DOCTYPE html>
<html>
<head>
<style>
  h1 {color: red;}
  h {color: green}
</style>
</head>

<h1>Shopping List</h1>
  <h>Please add items</h>

<form action="/list" method="post">
  <input type="text" name="Item" />
  <input type="submit" value="Add item" />
</form>
