<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>

<body style="background-color:powderblue;">

  <ul class"nav">

    <li style="list-style-type: none;"><a href="/homepage">Homepage</a></li>
    <li style="list-style-type: none;"><a href="/checkout">Buy items</a></li>

  </ul>

<style>
  body {text-align:center}
  h2 {color: red;}
  h {color: red}
</style>

<h2>Shopping List</h2>
<h>Please add items</h>

<form action="/list" method="post">
<input type="text" name="item" />
<input type="submit" value="Add item to shopping list" />
</form>

<marquee behavior="scroll" direction="left">Don't forget to buy your items!</marquee>
<div>
<img src= 'https://media.giphy.com/media/tMAR4O1DGidP2/giphy.gif'>



</body>
</html>
