<!DOCTYPE html>
<html lang="en">
<head>
<body style="background-color:powderblue;">
<style>
  body {text-align:center}
  h2 {color: red;}
  h1 {color: red}
</style>
</head>

<h2>Shopping List</h2>
  <h1>Please add items</h1>

<form action="/list" method="post">
  <input type="text" name="item" />
  <input type="submit" value="Add item" />
</form>

<div>
<img src= 'https://media.giphy.com/media/fdLzr7AKJNG1i/giphy.gif'>
<div>

</html>
