<html lang="en">
<head>
  <meta charset="utf-8">
</head>

  <ul class"nav">

    <li style="list-style-type: none;"><a href="/homepage">Homepage</a></li>
    <li style="list-style-type: none;"><a href="/checkout">Buy items</a></li>

  </ul>

  <style>
    body {text-align:center}
  </style>


<h1> Shopping List </h1>
<p><%= @list.join(", ") %></p>


<form action="/" >
<input type="submit" value="Add another item" />
</form>

<marquee behavior="scroll" direction="left">
<img src="https://superawesomevectors.com/wp-content/uploads/2016/02/shopping-basket-icon-800x566.jpg">
</marquee>

<form action="/checkout">
<input type="submit" value="Buy items" />
</form>
